.navbar-default {
    background: #03a9f4;
    border-color: #0392d3;
    border-radius: 0;
}

.navbar-default .container {
    background: #03a9f4;
}

.navbar-default .navbar-brand > img {
    display: inline;
    vertical-align: middle;
}

.brand-title {
    color: #ffeb3b;
    vertical-align: middle;
    padding-left: 5px;
}

body {
    background: #b3e5fc;
}

