nav.navbar.navbar-default(role="navigation")
  .container
    .navbar-header
      a.navbar-brand.uppercase(href='/projects')
        img(src='/assets/logo-small.png', width=23, height=13)
        span.brand-title.text-uppercase Katalog

