extends ../layout

block content
  .page-content

block bottom_javascripts
  script(type='text/javascript' src='/assets/katanode.js')

  script(type='text/javascript').
    Katanode.start({projects: !{JSON.stringify(projects)}});
