.panel-heading
  h3.panel-title.text-uppercase Add a project
.panel-body
  form(role='form')
    .form-group
      input.form-control(type='text' placeholder='Title')
    .form-group
      input.form-control(type='text' placeholder='Subtitle')
    button.btn.btn-success(type='submit') Create
