body {
  background: #b3e5fc;
}

.page-content {
  padding-top: 10px;
}

.project-row {
  .avatar-container {
    float: left;
    margin-right: 10px;
  }
  .project-details {
    p {
      margin: 0;
    }
  }
}

.navbar-default.header {
  background: #03a9f4;
  border-color: #0392d3;
  border-radius: 0;

  .container {
    background: #03a9f4;
  }

  .navbar-brand {
    .brand-title {
      color: #ffeb3b;
      vertical-align: middle;
      padding-left: 5px;
    }

    > img {
      display: inline;
      vertical-align: middle;
    }
  }
}
