doctype html
html
  head
    title= title
    include ./layout/frameworks
    script(type='text/javascript' src='./templates.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ./layout/header
    block content