.project-row
  .avatar-container
    img.avatar.normal(src='https://avatars.githubusercontent.com/u/1324361?v=3' title='Ido Feins')
  .project-details
    a.project-title(href='javascript:;')= title
    .project-subtitle= subtitle
